@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
    <script>
        var nameApp = angular.module('twitterApp', []);

        nameApp.controller('twitterCtrl', ['$scope', '$http', function ($scope, $http) {
            $scope.newAnalysis = {};

            $scope.addAnalysis = function () {
                $http.post('/Home/AddTwitterAnalysis', $scope.newAnalysis).then(
                    function (successResponse) {
                        $scope.newAnalysis = {};
                    },
                    function (errorResponse) {
                        // handle errors here
                    });
            };
        }]);
    </script>
}

    <div class="jumbotron" ng-app="twitterApp" ng-controller="twitterCtrl">
        <h2>Compares the Twitter popularity for 2 Words or Phrases</h2>

        <form name="twitterForm" ng-submit="addAnalysis()" novalidate>
            <p>
                Word or Phrase:<br>
                <input type="text" name="wordOrPhrase1" ng-model="newAnalysis.WordOrPhrase1" required>
                <span style="color:red" ng-show="twitterForm.wordOrPhrase1.$invalid">
                    <span ng-show="twitterForm.wordOrPhrase1.$invalid">* Required</span>
                </span>
            </p>

            <p>
                Word or Phrase:<br>
                <input type="text" name="wordOrPhrase2" ng-model="newAnalysis.WordOrPhrase2" required>
                <span style="color:red" ng-show="twitterForm.wordOrPhrase2.$invalid">
                    <span ng-show="twitterForm.wordOrPhrase2.$invalid">* Required</span>
                </span>
            </p>

            <p>
                <button type="submit" class="btn btn-primary" ng-disabled="twitterForm.wordOrPhrase1.$invalid ||
                       twitterForm.wordOrPhrase2.$invalid">
                    Run Analysis
                </button>
            </p>
        </form>
    </div>